<!-- TP -->
<!--<section>
    <header>
    
    <h1> Liste des sessions de formation</h1>
    <p class="description"> Suivre les sessions que je peux
    participer</p>
    </header>
    <app-session-item   [session]="firstSession" ></app-session-item>-->

    
    <!--<div *ngFor="let session of sessionItems" [ngClass]="session.name === 'Web' ? 'web-session' : 'mobile-session'"></div>-->
      <!--<app-session-item [session]="session"></app-session-item>-->
      <!--<div *ngFor="let session of sessionItems" [ngClass]="session.name === 'Web' ? 'web-session' : 'mobile-session'">
        <app-session-item [session]="session"></app-session-item>
      </div>-->
      


      <!--<p>Nombre total de sessions : {{ getTotalSessions() }}</p>-->
      <!--<app-session-item-list></app-session-item-list>
  
    <div>
      

      <p>Nombre total de participants : {{ getTotalParticipants() }}</p>
    </div>
  
    
  
  </section>-->
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>s

